MONGODB_URI=mongodb+srv://jemishpatoliya29_db_user:Box3NZzLGSAuWqYV@trozy.keuf2re.mongodb.net/trozzy
PORT=5050
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d
NODE_ENV=development
