.sidebar .Scroll{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar .Scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.sidebar .Scroll::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
.sidebar .Scroll::-webkit-scrollbar-track{
    background-color: #fff;
}
.range-slider .range-slider__thumb{
    width: 14px!important;
    height: 14px !important;
}
.range-slider{
    height: 3px!important;

}
.range-slider .range-slider__thumb,.range-slider .range-slider__range{
    background-color: #ff5252!important;
}